<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <title>Blog</title>
</head>

<body>

    <div class="header">
        <ul class="menubar">
            <li>
                <a href="/" class="menubar-button">View Bog Posts</a>
            </li>
            <li><a href="/new-post" class="menubar-button">Blog Post</a>
            </li>
        </ul>
    </div>