<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/style.css">

    <style>
        .menu{
            margin: 0 1rem 0 1rem;
            display: flex;
            justify-content: end;
            align-items: center;
            width: 100%;
        }

        .button{
            font-size: 1rem;
            padding: 0.7rem;
            border-radius: 5px;
            background-color: var(--font);
            color: white;
            cursor: pointer;
            border: 0px;
        }
        
    </style>
</head>

<body class="dm-serif-text-regular">


    <div class="header">
        <a href="/"><h1>MyBookCatalog</h1></a>
        <div class="menu">
            <a href="/new">
                <button class="button" onclick=>Add New Book</button>
            </a>
        </div>
    </div>
