<%- include("partial/header.ejs") %>

<div class="container">
    <% if (locals.posts.length > 0) {%>
        <% posts.forEach((element, index) => { %>
            <a href="/post?id=<%= index %>" class="blog" ><%= element.pName %></a>
        <% }); %>
    <% } else { %>
        <h1>There are no blog posts yet</h1>
        <% } %>
</div>

<%- include("partial/footer.ejs") %>

</script>