<%- include("partial/header.ejs") %>

<div class="container">
    <form action="/" method="POST" class="new-post">
        <input type="text" name="pName" id="pname" placeholder="Post Name">
        <input type="text" name="article" id="article">
        <button type="submit" value="OK">Create New Post</input>
    </form>
</div>

<%- include("partial/footer.ejs") %>